<head>
  <meta charset="utf8" />
  <title><%= title %></title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro"
  />

  <link rel="icon" type="image/x-icon" href="/images/logo.svg" />
  <link rel="stylesheet" href="/styles.css" />

  <script src="/scripts/vendors-node_modules_firebase_app_dist_esm_index_esm_js.js"></script>
  <script src="/scripts/vendors-node_modules_firebase_auth_dist_esm_index_esm_js.js"></script>
  <script src="/scripts/vendors-node_modules_firebaseui_dist_esm_js-node_modules_firebaseui_dist_firebaseui_css.js"></script>
  <script src="/scripts/firebase-setup.js"></script>
</head>
