<div class="navbar">
  <div class="logo-container">
    <img src="images/logo.svg" />
  </div>
  <input class="search-box" type="text" placeholder="Find products..." />
  <ul class="navbar-link-list">
    <li><a href="/products">Products</a></li>
    <li><a href="/cart">Cart</a></li>
    <li><a href="/my-orders">My Orders</a></li>

    <% if (isSignedIn) { %>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    <% } %>
  </ul>
</div>
