<div class="grid-item item-shadow">
  <img
    class="grid-item-image"
    src="https://cityfarmer.vn/wp-content/uploads/2019/04/raumuong-1024x683.jpg"
  />
  <div class="grid-item-info">
    <p class="item-title">
      <a href="/products/<%= product.id %>"><%= product.name %></a>
    </p>
    <p class="item-subtitle"><%= product.category.name %></p>
    <p class="item-subtitle right-text">
      <%= currencyFormatter.format(product.price) %>
    </p>
  </div>
</div>
