<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container">
      <div class="center-container">
        <h1 class="title">Sign in</h1>
        <form action="/login">
          <label for="email">Email:</label>
          <input type="text" name="email" />
          <label for="password">Password:</label>
          <input type="password" name="password" />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
