<html lang="en">
  <%- include('./common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container center-container">
      <h1 class="title">Đăng ký</h1>
      <form
        action="/signup"
        method="post"
        class="vertical-container auth-field-container"
      >
        <input placeholder="Name..." required type="text" name="name" />
        <input placeholder="Email..." required type="email" name="email" />
        <input
          placeholder="Số điện thoại..."
          required
          type="tel"
          pattern="0\d{9}"
          name="phoneNumber"
        />
        <input
          placeholder="Mật khẩu..."
          required
          minlength="8"
          type="password"
          name="password"
        />
        <input
          placeholder="Nhập lại mật khẩu..."
          required
          minlength="8"
          type="password"
        />
        <input class="submit-btn" type="submit" value="Đăng ký" />
      </form>
      <p class="text-link">
        Đã có tài khoản? Hãy <a href="login">đăng nhập</a>
      </p>
    </div>

    <%- include('./common/footer.ejs') %>
  </body>
</html>
