<html lang="en">
  <%- include('../common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container vertical-container">
      <div class="section-container">
        <h1>Quản lý</h1>
        <div class="grid-list">
          <div class="grid-item item-shadow">
            <div class="grid-item-info">
              <p class="item-title">
                <a href="/admin/products">Kho</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../common/footer.ejs') %>
  </body>
</html>
