<html lang="en">
  <%- include('../common/head.ejs') %>

  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="main-container center-container">
      <h1 class="title">Đăng nhập</h1>
      <div id="auth-container"></div>
      <p id="loading-state">Đang chạy...</p>
    </div>

    <%- include('../common/footer.ejs') %>

    <script src="/scripts/login.js"></script>
  </body>
</html>
