* {
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-container {
  flex: 1;
  display: flex;
}

.navbar {
  display: flex;
  height: 55;
  justify-content: space-between;
  align-items: center;
  background-color: #dafdba;
  padding: 0 20;
}

.logo-container {
  flex: 0.5;
  height: 35;
  display: flex;
  justify-content: center;
}

ul.navbar-link-list {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar-link-list li {
  font-size: 16;
  margin: 0 13;
}

.navbar-link-list li a {
  text-decoration: none;
}

.navbar-link-list li a:link {
  color: black;
}

.navbar-link-list li a:visited {
  color: black;
}

input.search-box {
  flex: 1.5;
  height: 33;
  margin: 0 15;
  border-width: 0;
  border-radius: 15px;
  padding: 5 20;
  font-size: 16;
}

.main-container {
  flex: 1;
}

.title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 15;
}

.long-container {
  width: 450;
}

input.form-input {
  border-width: 0;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 12;
  font-size: 16;
  margin: 10 0;
}

.form-input:focus {
  border-width: 0;
}

input.form-button {
  border-width: 0;
  border-radius: 5px;
  background-color: #13678a;
  color: white;
  padding: 12;
  font-size: 16;
  margin: 10 0;
}

footer {
  text-align: center;
  padding: 10 0;
  background-color: #bdbdbd;
}
