* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

form {
  display: block;
}

input {
  border-width: 0;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 12;
  font-size: 16;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20 0;
}

button {
  border-width: 0;
  border-radius: 5px;
  padding: 12;
  font-size: 16;
  margin: 10 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.navbar {
  display: flex;
  height: 55;
  justify-content: space-between;
  align-items: center;
  background-color: #dafdba;
  padding: 0 20;
}

.logo-container {
  flex: 0.5;
  height: 35;
  display: flex;
  justify-content: center;
}

ul.navbar-link-list {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar-link-list li {
  font-size: 16;
  margin: 0 13;
}

.navbar-link-list li a {
  text-decoration: none;
}

.navbar-link-list li a:link {
  color: black;
}

.navbar-link-list li a:visited {
  color: black;
}

input.search-box {
  flex: 1.5;
  height: 33;
  background-color: white;
  margin: 15;
  border-width: 0;
  border-radius: 15px;
  padding: 5 20;
  font-size: 16;
}

.main-container {
  flex: 1;
  padding: 30 150;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.long-container {
  width: 450;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

input[type='submit'] {
  border-width: 0;
  border-radius: 5px;
  padding: 12;
  font-size: 16;
  margin: 10 0;
}

input.input-margin {
  margin: 10 0;
}

.submit-btn {
  background-color: #13678a;
  color: white;
}

.item-title {
  font-size: 20;
}

.item-subtitle {
  font-size: 18;
  color: #7b7b7b;
}

.item-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
}

.grid-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.grid-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.grid-item-image {
  width: 250;
  height: 150;
  object-fit: cover;
  align-self: center;
}

.grid-item-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15;
}

.right-text {
  text-align: right;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list-item {
  display: flex;
}

.list-item-middle-area {
  flex: 1;
  display: flex;
  align-items: center;
}

.list-item-right-area {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item-image {
  width: 300;
  height: 150;
  object-fit: cover;
}

.total-amount-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 30 15;
  gap: 10px;
}

.total-amount-title {
  font-size: 32;
  font-weight: bold;
}

.total-amount-value {
  font-size: 24;
}

.place-order-btn {
  width: 200;
  align-self: flex-end;
}

.no-margin {
  margin: 0;
}

footer {
  text-align: center;
  padding: 10 0;
  background-color: #bdbdbd;
}
