<div class="navbar admin-navbar">
  <a href="/admin" class="logo-container"><img src="/images/logo.svg" /></a>
  <ul class="navbar-link-list admin-navbar-link-list">
    <% if (isSignedIn) { %>
      <li>
        <a href="/admin/products">Products</a>
      </li>
      <li>
        <a href="/admin/orders">Orders</a>
      </li>
      <li>
        <a href="/admin/logout">Logout</a>
      </li>
    <% } else { %>
      <li><a href="/admin/login">Đăng nhập</a></li>
    <% } %>
  </ul>
</div>
